<template>

    <!-- tweet content and send button -->
    <div class="ui row">
      <form submit.trigger="sendTweet()" class="ui form">

        <!-- send tweet text box -->
        <div class="field">
          <div class="ui left icon right labeled action fluid input">
            <input value.bind="tweetText" type="text" placeholder="What's in your mind..." >
            <div id="charCounter" class="ui basic label">140</div>
            <i class="talk icon"></i>
            <button class="ui submit button">Send</button>
          </div>
        </div>

      </form>
    </div>

</template>
