<template>

  <div class="ui container">
    <div class="ui padded grid">
      <div class="ui column">

        <nav class="ui inverted menu">
          <header class="header item"><a href="/"> MyTweet </a></header>
          <div class="right menu">
            <div show.bind="!loggedIn && !showSignup">
              <a class="item" click.trigger="signup()"> Signup </a>
            </div>
            <div show.bind="!loggedIn && showSignup">
              <a class="item" click.trigger="loginscreen()"> Login </a>
            </div>
            <div show.bind="loggedIn">
              <a class="item" click.trigger="logout()"> Logout </a>
            </div>
          </div>
        </nav>

        <div show.bind="!loggedIn" class="ui row">
          <div show.bind="!showSignup" class="ui row">
            <section class="ui five wide column">
              <compose view="./viewmodels/login.html"></compose>
            </section>
          </div>
          <div show.bind="showSignup" class="ui row">
            <section class="ui five wide column">
              <compose view="./viewmodels/signup.html"></compose>
            </section>
          </div>
        </div>

        <div show.bind="loggedIn">
          <!-- send tweet box -->
          <div class="ui row">
            <compose view-model="./viewmodels/sendtweet/sendtweet"></compose>
          </div>
          <!-- timeline tweet list -->
          <div class="ui row">
            <compose view-model="./viewmodels/timeline/timeline"></compose>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>
